### <font color = "green"> Importing Library</font>

In [1]:
import pandas as pd
import numpy as np

### <font color = "green"> Loading Data</font>

In [76]:
data = pd.read_csv("C:\\Users\\dell\\Desktop\\employee_data.csv")

In [77]:
data.head()

   Emploee_ID  Gender Remarks
0          45    Male    Nice
1          78  Female    Good
2          56  Female   Great
3          12    Male   Great
4           7  Female    Nice

**Checking the Labels in the column**

In [80]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [81]:
data['Remarks'].unique()

array(['Nice', 'Good', 'Great'], dtype=object)

**Checking Count of each label**

In [82]:
data['Gender'].value_counts()

Female    7
Male      5
Name: Gender, dtype: int64

In [83]:
data['Remarks'].value_counts()

Nice     5
Great    4
Good     3
Name: Remarks, dtype: int64

# <font color = "green"> Approach 1 - Label Encoding</font>

Label Encoder encodes labels with value between **0** and **number_of_class - 1**

In [84]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()

In [86]:
label_encoded_data = labelencoder_X.fit_transform(data['Remarks'])

In [87]:
label_encoded_data = pd.DataFrame(data = label_encoded_data, columns = ['Remarks'])

In [88]:
label_encoded_data['Remarks'].unique()

array([2, 0, 1], dtype=int64)

In [89]:
label_encoded_data

    Remarks
0         2
1         0
2         1
3         1
4         2
5         1
6         0
7         2
8         1
9         2
10        0
11        2

# <font color = "green"> Approach 2 - One Hot Encoding </font>

Binary Labelling with **1** at position where the label is present else **0**

In [106]:
onehot_encoded_data = pd.get_dummies(data, columns=['Remarks', 'Gender'])

In [107]:
onehot_encoded_data

,Emploee_ID,Remarks_Good,Remarks_Great,Remarks_Nice,Gender_Female,Gender_Male
0,45,0,0,1,0,1
1,78,1,0,0,1,0
2,56,0,1,0,1,0
3,12,0,1,0,0,1
4,7,0,0,1,1,0
5,68,0,1,0,1,0
6,23,1,0,0,0,1
7,45,0,0,1,1,0
8,89,0,1,0,0,1
9,75,0,0,1,1,0
10,47,1,0,0,1,0
11,62,0,0,1,0,1

**Keep Following and Practice more :)**

**GeeksforGeeks**